body {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.header {
    align-self: flex-start;
}

h1 {
    font-size: 4rem;
    padding: 2rem 0;
}

h2 {
    padding: 1rem 0;
}

.accordion {
    width: 100%;
    align-self: flex-start;
}

.accordion:hover .icon img {
    opacity: 1;
}

.accordion:hover .label {
    color: #000000;
}

.accordion-item {
    font-size: 2rem;
    font-weight: bold;
    border-top: 1px solid #dddddd;
}

.label {
    position: relative;
    cursor: pointer;
    color: lightskyblue;
}

.accordion-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon img {
    width: 1.5rem;
    opacity: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.accordion-item-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.accordion-item-img img {
    width: 50%;
}

.label:hover h2 {
    color: #000000;
}

.label:hover .accordion-item-img {
    height: 100%;
    opacity: 1;
}

.label:hover .icon img {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked ~ .label .accordion-item-img {
    height: 100%;
    opacity: 1;
}

input[type='radio']:checked ~ .label h2 {
    color: #000000;
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
    h1 {
        font-size: 3rem;
        padding: 1rem 0;
    }

    .main {
        width: 50%;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    h1 {
        font-size: 2rem;
        padding: 1rem 0;
    }

    h2 {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

    .main {
        width: 60%;
    }

    .accordion-item-img img {
        width: 60%;
    }
}

@media screen and (max-width: 599px) {
    h1 {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

    h2 {
        font-size: 1rem;
        padding: 0.5rem 0;
    }

    .main {
        width: 90%;
    }

    .accordion-item-img img {
        width: 90%;
    }

    .icon img {
        width: 1rem;
    }
}
